# Environment variables
.env

# IDE and editor files
.vscode/
.idea/
*.sublime-workspace
*.sublime-project

# Operating system files
.DS_Store
Thumbs.db

# Other files to ignore
coverage/
*.tgz

wallets.db
wallets.db-journal

wallet_tracker.txt


# Node modules
node_modules/

# Build output
dist/
build/

# TypeScript cache
*.tsbuildinfo

# Logs
logs
*.log
npm-debug.log*